.wrapper {
  padding: 0px;

  position:relative;
  align-content: center;
 
}

.image--cover {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0px;

  object-fit: cover;
  object-position: center right;
}

